{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}

{% include 'navigation.html' %}

{% block content %}
  <!-- Table Area (Bootstrap's Card Element) -->
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table mr-1"></i>
      Tickers Attributes Table
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Stock Name</th>
              <th>Ticker</th>
              <th>Stock Exch Name</th>
              <th>Sector ID</th>
              <th>Country ID</th>
            </tr>
          </thead>
          <!-- Insert Jinja template for data filling -->
          <tbody>
            {% for ticker in stock_attr_list %}
            <tr>
              <td><a href={{ url_for('stonk.plotlygraphs', id=ticker.ticker) }}>
                {{ticker.ticker}}</a></td>
              <td>{{ticker.stock_name}}</td>
              <td>{{ticker.stock_exchange_name}}</td>
              <td>{{ticker.sector_id}}</td>
              <td>{{ticker.country_id}}</td>
            </tr>
            {% endfor %}                                   
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- end of Table Area -->

  <!-- Card with DataTables plugin info -->
  <div class="card mb-4">
    <div class="card-body">
      DataTables is a third party plugin that is used to generate the
      demo table below. For more information about DataTables, please
      visit the
      <a target="_blank" href="https://datatables.net/"
        >official DataTables documentation</a
      >
      .
    </div>
  </div>
  <!-- end of DataTables info -->

{% endblock %}
